.header-container {
  background-color: #ffc72c;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;

  .header-inner {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;

    .user-menu-container {
      display: flex;
      flex-direction: row;
      //justify-content: space-evenly;
      align-items: center;
      //width: 360px;

      .mike-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        //cursor: pointer;
      }
      .modal-container {
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 25px;
        width: 500px;
        .top-title {
          display: flex;
          justify-content: center;
          align-items: center;
    
          font-size: 1.8em;
          font-weight: 700;
    
          padding-bottom: 20px;
        }
        .voice-outer-container {
          flex-direction: column;
          align-items: stretch;
          padding: 5px;
          width: 470px;
          display: flex;

          .voice-inner-container {
            padding:5px;
            display: grid;
            grid-template-columns: minmax(max-content, 1fr) 100px;
            grid-template-rows: max-content;
            gap: 20px;
            height: 100px;
            width: full;
            position: relative;
            .text-container{
              display: flex;
              flex-direction: column;
              // gap: 10px;
              .introduce-text{
                color: #000000;
                font-size: 16px;
                padding-top: 5px;
                font-weight: 600;
              }
              .introduce-text-last{
                color: #787878;
                font-size: 16px;
                padding-top: 10px;
              }
            }

            .voice-button-container {
              padding: 10px; 
              display: flex;
              flex-direction: column;
              align-items: center;
              .listening-alert {
                color: rgb(208, 2, 2);
                margin-bottom: 5px;
                font-size: 15px;
              }
              .voice-button {
                font-weight: 600;
                font-size: 1.1em;
                border-radius: 15px;
                padding: 7px 20px;
                width: 70px;
                height: 50px;
                border: 2px solid #252525;
                box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
                border-radius: 30px;
                background-color: #ffcd43d8;
                &:hover {
                  cursor: pointer;
                  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.348);
                  color: rgb(0, 0, 0);
                  background-color: #ffcd43;
                }
              }
              
              
            }
          }
          .show-text-container{
            // width: 500px;
            // height: 100px;
            // display : flex;
            // justify-content: center;
            // align-items: center;
            padding: 1px;
            .show-text{
            color: #000000;
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
            .introduce-text{
              color: #000000;
              font-size: 14px;
              padding-top: 5px;
            }
          }
          .order-container {
            padding: 10px;
            .order-form {
              display: grid;
              grid-template-columns: max-content 1fr;
              gap: 0px 30px;
              width: 390px;
              .title-form {
                display: flex;
                flex-direction: column;
                .title {
                  text-align: left;
                  line-height: 50px;
                  font-weight: 700;
                }
                .explain {
                  text-align: left;
                  line-height: 10px;
                  font-size: 14px;
                  font-weight: 500;
  
                }
              }
              
              .contents {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                line-height: 30px;
              }
            }
            
            
          }
        }
        .show-text-container{
          // width: 500px;
          // height: 100px;
          // display : flex;
          // justify-content: center;
          // align-items: center;
          padding-top: 10px;
          .introduce-text{
            color: #000000;
            font-size: 14px;
            padding-top: 5px;
          }
        }        
        .bottom-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding-top: 30px;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 20px;
          //width: 300px;
          
          
          button {
            font-weight: 600;
            font-size: 1.1em;
            border-radius: 15px;
            padding: 7px 15px;
            width: 120px;
            border: 2px solid #252525;
            box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            &:hover {
              cursor: pointer;
              box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.348);
              color: rgb(0, 0, 0);
            }
          }
          .order-button {
            background-color: #ffcd43d8;
            &:hover {
              background-color: #ffcd43;
            }
          }
          .cancel-button {
            background-color: #e8e8e8bb;
            &:hover {
              background-color: #e8e8e8;
            }
          }
        }
      }
      
      
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }

    .mrdaebak-logo {
      height: 30px;
    }

    .user-button {
      margin-left: 50px;
      font-size: 1.1em;
      &:hover {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }

    .userbutton,
    .active {
      font-weight: 700;
    }
  }
}