.header-container {
  background-color: #ffc72c;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;

  .header-inner {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;

    .user-menu-container {
      display: flex;
      flex-direction: row;
      // justify-content: space-evenly;
      align-items: center;
      // width: 360px;

      .mike-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }

    .mrdaebak-logo {
      height: 30px;
    }

    .user-button {
      margin-left: 50px;
      font-size: 1.1em;
      &:hover {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }

    .userbutton,
    .active {
      font-weight: 700;
    }
  }
}
