.logo-nav-container {
  .logo-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
    }
  }

  .nav-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 80vh;
    background: #f2f2f2;
    border-radius: 14px;

    .nav-container-inner {
      display: grid;
      grid-template-columns: max-content;
      grid-template-rows: repeat(9, max-content);
      gap: 15px;
      padding-top: 20px;
      justify-items: flex-start;

      .nav-manage {
        margin-top: 30px;
      }
    }

    .nav-title {
      font-weight: 600;
      font-size: 0.9em;
      color: grey;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration-line: underline;
    }

    .active {
      font-weight: 600;
    }
  }
}

.nexttonav {
  margin-left: 150px; //nav width: 150px
}
