.modal-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    .modal{
        // width: 300px;
        // height: 150px;
        // background-color: #fff;
        // // Modal 창 브라우저 가운데로 조정
        // position: absolute;
        // left: 50%;
        // top:50%;
        // transform: translate(-50%, -50%);
        // z-index:100;

        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: max-content;
        padding: 50px;

        // Modal 창 브라우저 가운데로 조정
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index:100;

        background: #f3f3f3;
        border: 2px solid #252525;
        box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        .button-container{
            padding: 10px;

            .modal-button{
                // @include input-field(90px);
    
                border-radius: 15px;
                padding: 5px 10px;
    
                background: #ffc72c;
                color: rgb(0, 0, 0);
                box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    
                font-weight: 600;
                font-size: 0.8em;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.348);
                    color: rgb(0, 0, 0);
                }
            }
        }
        
    }
}