.logo-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 200px minmax(200px, 1fr);

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
