.orderlist-container {
  height: 80vh;
  display: grid;
  grid-template-columns: max-content minmax(max-content, 1fr);

  .left-container {
    // position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 80vh;
    background: #f2f2f2;
    overflow: auto;
    padding: 0px 10px;
    margin-left: 8px;
    border-radius: 14px;

    .left-title-container {
      display: flex;
      width: 80%;
      padding-top: 20px;
      padding-bottom: 10px;
      flex-direction: row;
      justify-content: flex-start;

      .left-title {
        font-weight: 600;
      }
    }

    .order {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 20px 20px;

      .order-id {
        font-size: 1.1em;
        font-weight: 600;
      }
      .rsv-date {
        font-weight: 600;
        font-size: 0.9em;

        color: #da291c;
      }
    }

    .order:hover {
      cursor: pointer;
    }
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    overflow: auto;
    // align-items: center;
    // height: 80vh;
    // position: fixed;
    // margin-left: 295px;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;

      .id-and-button {
        display: flex;
        flex-direction: row;
        align-items: center;

        .order-id {
          font-size: 2em;
          font-weight: 600;
        }

        .state-button {
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 15px 30px;

          width: 120px;
          height: 40px;

          border: 2px solid #2d2d2d;
          border-radius: 20px;

          background: #ffc72c;
          box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);

          &:hover {
            // background: #ffd255;
            cursor: pointer;
            box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.438);
          }

          .button-title {
            font-weight: 600;
            font-size: 1.4em;
          }
        }
      }

      .rsv-date,
      .number-and-price {
        font-size: 1.2em;
        font-weight: 600;
      }

      .rsv-date {
        padding-bottom: 5px;
      }

      .number-and-price {
        .delimiter {
          margin: 0px 10px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;

      > * {
        margin-bottom: 40px;
      }

      .order-info {
        margin-bottom: 0px;
      }

      .title {
        font-size: 1.3em;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .request {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .menu-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menu-container {
          display: grid;
          gap: 30px;

          .dinner {
            display: grid;
            grid-template-columns: minmax(max-content, 1fr) 50px 100px;
            gap: 30px;

            .dinner-and-style-container {
              display: grid;
              grid-template-columns: auto;
              gap: 10px;

              > * {
                display: flex;
              }

              .dinner-title {
                display: flex;
                flex-direction: row;
                align-items: center;

                .dinner-name {
                  font-size: 1.1em;
                  font-weight: 600;
                }

                .steak-degree-container {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  box-sizing: border-box;

                  min-width: 58px;
                  width: max-content;
                  height: 26px;

                  // background: #f3f3f3;
                  border: 2px solid #2d2d2d;
                  border-radius: 15px;

                  margin-left: 10px;

                  .steak-degree-title {
                    font-weight: 500;
                  }
                }
              }

              .style-name {
                font-weight: 500;
              }

              .dinner-option,
              .style-option {
                color: #787878;
              }
            }
          }

          .total-container {
            display: grid;
            justify-content: end;
            grid-template-columns: 50px 100px;
            gap: 30px;

            padding-top: 20px;
            border-top: 1px solid #c0c0c0;
          }
        }
      }

      .order-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .content {
          display: grid;
          grid-template-columns: max-content 1fr;
          grid-template-rows: repeat(3, max-content);
          gap: 10px 20px;

          > * {
            display: flex;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
