@import './base/base';

@import './component/customerlayout';

@mixin input-field($w) {
  margin: 5px;
  border: 2px solid #2c2c2c;
  width: $w;
}

.customer-login-container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .customer-login-box {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: max-content;
    padding: 50px;

    background: #f3f3f3;
    border: 2px solid #252525;
    box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

    .customer-login-logo-container {
      display: flex;
      height: max-content;
      justify-content: center;
      align-items: center;

      img {
        width: 250px;
      }
    }
    .customer-login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;

      input {
        @include input-field(200px);

        border-radius: 15px;
        padding: 10px 20px;

        background: #ffffff;
      }

      // input[aria-invalid='true'] {
      //   border: 2px solid #d10000;
      // }

      button {
        @include input-field(90px);

        border-radius: 15px;
        padding: 5px 10px;

        background: #ffc72c;
        color: rgb(0, 0, 0);
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);

        font-weight: 600;
        font-size: 1.1em;

        &:hover {
          cursor: pointer;
          box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.348);
          color: rgb(0, 0, 0);
        }
      }

      .input-alert {
        color: rgb(208, 2, 2);
        margin-bottom: 5px;
      }
    }
    .buttom-nav-container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.756);

        &:hover {
          text-decoration-line: underline;
          color: black;
        }
      }
    }
  }
  .buttom-nav-small-container {
    width: 360px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;


    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.756);

      &:hover {
        text-decoration-line: underline;
        color: black;
      }
    }
  }
}
