@import './base/base';

@import './component/customerlayout';
@import './component/header';

.mypage-center-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .mypage-container {
    box-sizing: border-box;
    width: 450px;
    left: 429px;
    top: 268px;

    border: 1px solid #9d9d9d;
    border-radius: 10px;
    padding: 50px;

    .form-container {
      display: flex;
      flex-direction: column;

      .input-container {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 0px 40px;

        .input-alert {
          color: rgb(214, 3, 3);
          grid-column: 2;
          text-align: left;
          margin-bottom: 5px;
        }

        .title {
          text-align: left;
          line-height: 50px;
        }
        input {
          background: #ffffff;

          width: 180px;

          margin: 5px;
          padding: 5px 20px;

          border: 2px solid rgb(255, 255, 255);
          // border-radius: 15px;

          color: black;
          font-size: 16px;
          font-weight: 600;

          &::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 600;
          }
          &:focus {
            outline: 0px;
            border-bottom: 2px solid #000000;
          }
        }
      }

      .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding-top: 50px;

        button {
          font-weight: 600;
          font-size: 1.1em;
          border: 0px;
          border-radius: 15px;
          padding: 7px 20px;
          width: 150px;
          &:hover {
            cursor: pointer;
          }
        }
        .edit-button {
          background-color: #ffcd43d8;
          &:hover {
            background-color: #ffcd43;
          }
        }
        .exit-button {
          background-color: #e8e8e8bb;
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
    }

    .top-title {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.8em;
      font-weight: 600;

      padding-bottom: 40px;
    }
  }
}

/*
@mixin input-field($w) {
    //margin: 5px;
    border: 2px solid #9d9d9d;
    width: $w;
  }

.center-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .mypage-container {
    box-sizing: border-box;
    // position: absolute;
    width: 450px;
    // height: 456px;
    left: 429px;
    top: 268px;

    border: 1px solid #9d9d9d;
    border-radius: 10px;

    padding: 50px;
    .goto-main-button-container {
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: black;
      }
      .goto-main-button {
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        width: max-content;
        height: 42px;

        padding: 0px 30px;

        background: #e8e8e8;
        border-radius: 20px;

        font-size: 1.1em;
        font-weight: 600;
        &:hover {
          background: #dbdbdb;
          cursor: pointer;
        }
      }
    }

    .mypage-info-form {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 20px;
      padding: 60px 0px;
      align-items: center;

      .info-title {
        color: #666666;
        text-align: left;
        font-weight: 500;
      }

      .info-content {
        text-align: left;
        font-weight: 700;
        font-size: 1.1em;
      }

      input {
        @include input-field(200px);

        border-radius: 15px;
        padding: 10px 20px;

        background: #ffffff;
      }
    }
    .customer-modify-button {
      padding: 10px 0px;
      
      button {
        @include input-field(90px);
  
        border-radius: 15px;
        padding: 5px 10px;
  
        background: #ffc72c;
        color: rgb(0, 0, 0);
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
  
        font-weight: 600;
        font-size: 1.1em;
  
        &:hover {
          cursor: pointer;
          box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.348);
          color: rgb(0, 0, 0);
        }
      }
    }
    
    .buttom-nav-container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.756);

        &:hover {
          text-decoration-line: underline;
          color: black;
        }
      }
    }
    .top-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
      font-weight: 600;
      // padding-bottom: 40px;
      .title-text {
        margin-left: 10px;
      }
    }
  }
}
*/
