@import './component/layout';
@import './component/logonav';

.orderlist-container {
  height: 80vh;
  display: grid;
  grid-template-columns: max-content minmax(max-content, 1fr);

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 80vh;
    background: #f2f2f2;
    overflow: auto;
    padding: 0px 10px;
    border-left: 5px solid rgb(255, 255, 255);

    .left-title-container {
      display: flex;
      width: 80%;
      padding-top: 20px;
      flex-direction: row;
      justify-content: flex-start;

      .left-title {
        font-weight: 600;
      }
    }

    .order {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 10px 20px;
      margin: 10px;

      .order-id {
        font-size: 1.1em;
        font-weight: 600;
      }
      .rsv-date {
        color: red;
      }
    }

    .order:hover {
      background-color: white;
    }
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
